/* Home page styling */
.home-background {
    background-image: url('/images/stars-website.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.name {
    font-size: 90px;
    background: -webkit-linear-gradient(gold, silver);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: center;
}

.name-column {
    margin-left: 400px;
    margin-top: 100px;
}

.links-div {
    font-size: 40px;
    margin-left: 60px;
}

.links {
    margin-right: 25px;
    margin-left: 25px;
    color: azure;
}

.word-slide {
    position: absolute;
    left: -600px;
    width: 100px;
    height: 100px;
    color: rgb(158, 157, 157);
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
    font-size: 25px;
    text-decoration: underline;
    display: inline-block;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.uranus {
    color: white;
}

.skills {
    margin-left: 1000px;
}

.site-links {
    color: white;
    margin-left: 75px;
    padding-top: 50px;
    text-decoration: underline;
}

.mars {
    color: white;
    margin-left: 50px;
    position: absolute;
}

@keyframes particleAnimation
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}

.space{
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-name:particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.space::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}
.s-1{
  animation-duration:10s;
}
.s-2{
  animation-duration:5s;
  top:60%;
}
.s-3{
  animation-duration:20s;
  top:90%;
}
/* End Home page styling */

#bio-background {
    background: linear-gradient(black, darkblue);
    background-size: cover;
}

.bioParagraphs {
    color: white;
}

.workTextBlock {
    display: inline-block;
    width: 450px;
    height: 75px;
    margin-top: 10px;
}
.workTextBlock2 {
    display: inline-block;
    width: 450px;
    height: 75px;
    margin-top: 10px;
}

.travelTextBlock {
    margin-left: 500px;
}

.workImage {
    margin-left: 600px;
    margin-top: -400px;
}

.hobbiesImage {
    margin-left: 600px;
}