<div class="container-fluid" id="bio-background">
        <div class="row justify-content-md-center">
<div class="bioParagraphs">
    <p class="workTextBlock">{{bc.bioWork}}</p>
    <br>
    <p class="workTextBlock2">{{bc.bioWork2}}</p>
    <img class="workImage" ng-src="/images/Autumn-ren.JPG">
</div>
<br>
<div class="bioParagraphs">
    <p class="travelTextBlock" >{{bc.bioTravel}}</p>
    <img ng-src="/images/sparkly-family.PNG">
</div>
<br>
<div class="bioParagraphs">
    <p>{{bc.bioHobbies}}</p>
    <img class="hobbiesImage" ng-src="/images/Indiana-daddy.JPG">
</div>
<br>
        </div>
    </div>