<div class="container-fluid home-background">
    <div class="row justify-content-md-center">
        <div class="space s-1"></div>
        <div class="col-md-6 name-column">
            <p class="name">Dave Clark</p>
            <span class="word-slide">Software Developer!</span>
        </div>
        <div class="space s-2"></div>
        <div class="uranus">
            Skills
            <img ng-src="/images/Uranus_clouds.jpg" ng-click="skillsInfo = !skillsInfo">
            <div class="skills" ng-if="skillsInfo">
                <h4>AngularJS</h4>
                <h4>Bootstrap</h4>
                <h4>NodeJS</h4>
                <h4>CSS3</h4>
            </div>
        </div>
        <br>
        <div class="space s-3"></div>
        <br>
        <br>
        <div class="row justify-content-md-center">
        <div class="mars">
            Links
            <img ng-src="/images/Mars.png" ng-click="linksInfo = !linksInfo">
            <div ng-if="linksInfo">
                <a href="https://www.linkedin.com/in/david-clark535/" class="site-links">LinkedIn</a>
            </div>
        </div>
    </div>
    </div>
</div>